<footer>
    <div id="fixed-buttons">
        <a href="#" id="back-to-top" class="fixed-button" title="{{ back_to_top_title }}">
            <i class="fas fa-arrow-up fa-fw" aria-hidden="true"></i>
        </a>
        <a href="#" id="view-comments" class="fixed-button" title="{{ view_comments_title }}">
            <i class="fas fa-comment fa-fw" aria-hidden="true"></i>
        </a>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/autocomplete.js@0.38.1/dist/autocomplete.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/algoliasearch@4.13.1/dist/algoliasearch-lite.umd.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lazysizes@5.3.2/lazysizes.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sharer.js@0.5.1/sharer.min.js"></script>
    <script type="text/javascript">
        window.config = {
            "code": {
                "copyTitle": "{{ copy_title }}",
                "maxShownLines": {{ max_shown_lines }}
            },
            "search": {
                "algoliaAppID": "{{ algolia_app_id }}",
                "algoliaIndex": "{{ algolia_index }}",
                "algoliaSearchKey": "{{ algolia_search_key }}",
                "highlightTag": "{{ highlight_tag }}",
                "maxResultLength": {{ max_result_length }},
                "noResultsFound": "{{ no_results_found }}",
                "snippetLength": {{ snippet_length }},
                "type": "{{ search_type }}"
            }
        };
    </script>
    <script type="text/javascript" src="/js/theme.min.js"></script>
</footer>
